name: Generate themes

on:
  push:
    branches: [main]
  workflow_run:
    workflows: ["Update submodules"]
    types: [completed]

defaults:
  run:
    shell: bash

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - uses: extractions/setup-just@v2
        with:
          just-version: 1.43.0

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install whiskers
        run: |
          cargo install whiskers --version 2.6.0
          echo "$HOME/.cargo/bin" >> "$GITHUB_PATH"

      - name: Build themes
        run: |
          just build

      - name: Push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        if: ${{ github.repository == 'pinanek/catppina' && github.ref == 'refs/heads/main' }}
        with:
          commit_message: "chore: Re-generate theme(s)"
          commit_author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
          branch: ${{ github.head_ref }}
